*{
  font-family: system-ui;
}

header {
    overflow: hidden;
  }
  
  .navbar .navbar-brand {
    color: #4592af;
  }
  
  .navbar .navbar-brand:hover {
    color: #226089;
  }
  
  .function-type-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .search-bar {
    border-radius: 8px;
    border: 0;
    width: 250px;
  }

  .form-control::placeholder {
    color: #aaaaaa;
    font-size: 0.8rem;
  }
  
  .btn-major {
    background-color: #9b4b4b;
    color: white;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
  
  .sortlist {
    width: 150px;
  }

  .card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  
  .card-img {
    min-height: 200px;
  }

  h6 {
    height: 25px;
    line-height: 25px;
  }

  .restaurant-category {
    color: #666666;
    font-size: 0.8rem;
  }

  .restaurant-show-title {
    position: relative;
    top: -100px;
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  @media screen and (max-width: 768px) {
    
    .restaurant-show-title {
      font-size: 2rem;
    }
  }